* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
body {
  font: 16px Helvetica, Arial;
  color: #333;
}
section {
  display: flex;
  width: 80%;
  margin: 15px auto 0;
}
#chat {
  flex: 3;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 35px);
}
#sendform {
  background: white;
  bottom: 0;
  width: 100%;
  margin-bottom: 10px;
}
#sendform form {
  display: flex;
}
input {
  border: 1px solid #ccc;
  padding: 10px;
  width: 95%;
  border-radius: 6px;
  margin-right: 5px;
}
button {
  background: #00b900;
  border: none;
  padding: 10px 0 10px 0;
  border-radius: 6px;
  color: white;
  width: 80px;
}
#messages {
  margin-bottom: 25px;
  list-style-type: none;
  overflow: scroll;
  flex: 1;
}
#messages li {
  padding: 10px 20px;
  line-height: 22px;
}
#messages li:nth-child(odd) {
  background: #eee;
}
#online {
  padding-left: 15px;
  flex: 1;
  list-style: none;
  overflow: scroll;
}
#online li {
  border-bottom: 1px solid #ccc;
  padding: 5px;
  color: #999;
}
.innermsg {
  padding-left: 20px;
}
.update {
}
#login {
  text-align: center;
  margin: 30vh auto;
  width: 60%;
}
#name, #room {
  width: 40%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
.update {
  text-align: center;
  vertical-align: middle;
  color: #00b900;
}
